# site properties and page defaults
title: UAlbertaVISUAL
subtitle: Video Image Signal Understanding and Learning Laboratory at University of Alberta
description: The VISUAL Lab   
header: images/website_header.png
footer: images/website_footer.png
proofer: false
header-dark: images/website_header_dark.png
footer-dark: images/website_footer_dark.png
# site social media and other links
links:
  email: nray@ualberta.ca
  orcid: 0000-0002-7588-5400
  google-scholar: https://scholar.google.ca/citations?hl=en&user=E3wuLqAAAAAJ
  github: https://github.com/UAlbertaVISUAL


### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
